<app-top></app-top>
<div *ngIf="gameInProgress; else gameOver">
    <app-panel (finishGame)="finishGame($event)"></app-panel>
</div>
<ng-template #gameOver>
    <div *ngIf="typeClosing === 'derrota'; else gameWin" class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 id="gameOver">Fim de jogo! Infelizmente você perdeu!</h3>
                <button class="btn btn-primary" (click)="restartGame()">Tentar mais uma vez</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #gameWin>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col">
                <h3 id="gameWin">Você ganhou! Parabéns! =D</h3>
                <button class="btn btn-primary" (click)="restartGame()">Jogar mais uma vez</button>
            </div>
        </div>
    </div>
</ng-template>